@use 'sass:map';
@use 'colors.scss' as *;
@use 'fonts.scss' as *;
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Poppins', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $gray-950;
  font-weight: map.get($font-weights, 'bold');
}
p {
  color: $gray-900;
  font-size: $primary-size;
  font-weight: map.get($font-weights, 'light');
}
button {
  font-family: inherit;
  font-size: $primary-size;
  cursor: pointer;
}
li {
  list-style-type: none;
}
img {
  width: 100%;
  display: block;
}
